/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


/* TEMP CSS */

.developers,
.disclaimer {
	font-size: .55em;
	margin-left: 12px;
	cursor: pointer;
	margin-top: 20px;
	color: #C1C1C1;
}

.disclaimer {
	margin-top: 4px; /* CHANGE TO 20px */
}

	.developers:hover,
	.disclaimer:hover {
		text-decoration: underline;
	}
	
.disclaimerText {
	display: none;
}

.disclaimerTip.qtip {
	max-width: 50%;
	padding: 10px;
	background-color: #313131;
	border-left: 0;
	border-color: #282828;
}

	.disclaimerTip.qtip p {
		margin-bottom: 4px;
		color: #B9B9B9;
	}
	
	.disclaimerTip.qtip p.last {
		margin-bottom: 10px;
	}

	.disclaimerTip.qtip p.lastop {
		margin-top: 14px;
		margin-bottom:0px;
	}
	
	.disclaimerTip.qtip a {
		color: #E1E1E1;
	}

	.disclaimerTip.qtip a.qtip-icon {
		color: #777;
	}

		.disclaimerTip.qtip a.qtip-icon:hover {
			color: #000;
		}

		.disclaimerTip.qtip a:hover {
			color: #FAFAFA;
		}

.qtip-close.qtip-icon {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Hiding Site Elements */


/* MAKE SIDE BAR TEXT BIGGER */


.extraOne, .extraTwo {
	display: none;
}


/* Colours */

.red {
	background-color:#FF153A;
}

.yellow { 
		background-color:#DAC800;
}

.blue {
		background-color:#0096ff;
}

.purple {
		background-color:#cb1789;
}

.green {
		background-color:#1BEC77;
}



/* Hacks */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}


.noMargin {
	margin-bottom: 0!important;
}

.extraMargin {
	margin-bottom: 30px !important;
}




/* General */

#siteContainer {
}

body {
	/*background-image:url("../images/tile_dark.png");*/
	background-color: #F7F7F7;
	background-attachment:fixed;
	font-family:"Source Sans Pro",Arial,sans-serif;
	color: #858585;
	font-size:14pt;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"Century Gothic",Arial,sans-serif;
	color: #616161;
}

p {
	font-family:"Source Sans Pro",Arial,sans-serif;
	color: #858585;
}

h1, h2 {
	color: #E4E4E4;
}

h1 {
	font-size:3em;
	margin-bottom:2px;
}

h2  {
	font-size:1.6em;
	font-style:italic;
	font-weight:bold;
}

h4 {
	color: #A0A0A0;
	font-size:1.3em;
}

a {
	text-decoration:none;
}

/* Temp Elements */
.round {
	border-radius:130px;
}

/* END Temp Elements */


/* END General */

/* LOADING ANIMATION */


.qtip.loadingAnimationTip {
	color: #ffffff;
	border: 1px solid #B9B9B9;
	font-size: .9em;
	padding: 0;
	line-height: 1em;
	max-width: 31%;
	height: auto;
	background-color: #EBEBEB;
}

.qtip.loadingAnimationTip .qtip-content {
	padding: 0;
}

#loadingAnimationWrapper {
	width: 150px;
	height: 150px;
	position: fixed;
	display: none;
	background-color: #000;
	text-align: center;
	border-radius: 150px;
}

	.loadingAnimation {
		width: 50px;
		height: 50px;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 10px;
		background-image: url("../images/thor.gif");
	}

	#loadingAnimationWrapper p {
		color: #fff;
	}



/* TOP HELP BAR */

.topHelpBar {
	position: fixed;
	top: 0;
	right: 10%;
	width: 260px;
	z-index: 9999;
	font-size: .9em;
}

	.topHelpBar .topHelpButt {
		float: right;
		background-color: rgba(55, 83, 124, 0.9);
		padding: 4px 8px;
		cursor: pointer;
	}

		.topHelpBar .topHelpButt:hover{
			background-color: rgba(55, 83, 124, 1);
		}

		.topHelpBar .topHelpButt a {
			color: #f1f1f1;
			font-size: .9em;
		}

	.topHelpBar .topHelpKey {
		width: 100%;
		display: none;
		background-color: #2E2E2E;
		padding: 4px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.topHelpBar .colourSquare {
		width: 24px;
		height: 24px;
		margin-right: 10px;
	}

	.topHelpBar ul {
		margin-bottom: 0;
	}

		.topHelpBar ul li {
			margin: 6px;
		}

		.topHelpBar ul li p {
			margin-bottom: 0;
			line-height: 25px;
		}


/* END Top Help Bar */


/* SIDE BAR */




/* SITE HEADER */

.siteHeader {
	padding-top: 7px;
	padding-left: 12px;
	padding-bottom: 7px;
	background-color: #3C3C3C;
	border-right: 1px solid #424242;
}

.siteHeader h1, .siteHeader h4, .siteLogo {
	cursor:default;
	color: #DDDDDD;
}

.siteHeader h1 {
	margin-top: 4px;
	font-size: .8em;
	float: left;
	line-height: 25px;
}

.siteLogo {
	width: 30px;
	height: 30px;
	background-image: url("../images/logo_30.png");
	background-size: cover;
	float: left;
}

/* END Site Header */


#siteContainer {
	margin-left: 140px;
}

.sideBarNavigation {
	width: 140px;
	min-width: 140px;
	position: fixed;
	background-color: #F0F0F0;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	z-index: 9999;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

	.sideBarNavigation ul {

	}

	.sideBarNavigation ul li {
		/*padding: 2px;*/
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
		cursor: pointer;
	}

		.sideBarNavigation ul li ul {
			margin: 0;
		}

			.sideBarNavigation ul li ul a {
				padding-left: 28px;
			}

	.sideBarNavigation a {
		font-size:.9em;
		padding: 2px;
		padding-left: 12px;
		color: #838383;
		display: block;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	.sideBarNavigation a:hover {
		background-color: #D8D8D8;
	}
	
	a.currentLocation {
		background-color: #A2A2A2;
		color: #FFFFFF;
	}
	
	a.currentLocation:hover, .sideBarNavigation ul li a.currentLocation:hover {
		color: #FFFFFF;
		background-color: #A2A2A2;
	}
	
	.smallLink a {
		font-size: .7em;
		color: #838383;
	}
	
.emptyLink {
	height: 10px;
}

#siteLinks.trip-exposed {
	box-shadow: none;
}

.sideLinksWrapper {
    border-top: 1px solid #F8F8F8;
}

	.sideLinksWrapper ul {
		margin-bottom: 0;
	}
	
.sideBarLinks.extraOne {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px solid #DDD;
/*
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(175, 175, 175, 0.5);
	*/
}
	
.helpKey {
	box-shadow: inset 0 15px 6px -15px rgba(0, 0, 0, 0.36);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #313131;
	border-top: 1px solid #F8F8F8;
}

	#theHelpKey.trip-exposed {
		background-color: #313131;
		box-shadow: 0;
	}

	.helpKey p {
		color: #E4E4E4;
	}

	.helpKey h3 {
		color: #D1D1D1;
		font-size: .8em;
		cursor: default;
		padding-left: 12px;
	
		margin-bottom: 0;
}
	
	.key {
		padding-left: 12px;
		cursor: pointer;
		padding-top: 5px;
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	
		.helpKey .testError {
			float: left;
			margin-right: 6px;
		}
	
		.key:hover {
			background-color: rgba(17, 17, 17, 0.25);
		}
		
		.key.active {
			background-color: #1f293c;
			/*width: 281px;*/
		}
		
		.key .keyTop {
			padding-bottom: 5px;
		}
	
		.key p {
			font-size: .7em;
			line-height: 21px;
			margin-bottom: 0;
			margin-right: 3px;
		}
		
		.key .colourSquare {
			margin-right: 11px;
			margin-top: 6px;
			width: 10px;
			margin-left: 5px;
			height: 10px;
			margin-bottom: 0;
			border-radius: 22px;
		}
		
		.keyInfo {
			margin-left: 26px;
			display: none;
			width: 250px;
			background-color: #1f293c;
			padding-top: 5px;
			padding-right: 5px;
			padding-bottom: 5px;
		}
		
		.qtip.keyTip {
			border: 0;
			background-color: black;
			width: 250px;
			background-color: #282828;
			padding-top: 4px;
			padding-right: 10px;
			padding-bottom: 8px;
			padding-left: 16px;
		}
		
			.qtip.keyTip .qtip-content {
				padding: 0;
			}
		
			.qtip.keyTip p {
				font-size: 1.4em;
				line-height: 1.5em;
				margin: 0;
				color: #C1C1C1;
			}
		
	/* KEY QTIP */



/* END Side Bar */

/* SITE TOUR */

.trip-exposed {
	box-shadow: 0 0 0px 5px #FFF;
}

.tour.trip-block.white {
	padding: 5px 10px;
	border-radius: 0;
	border: 0;
	background-color: #D6D6D6;
	max-width: 300px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tour.trip-block.white.n:before {
	border-top-color: #D6D6D6;
}

.tour.trip-block.white.e:before {
	border-right-color: #D6D6D6;
}

.tour.trip-block.white.s:before{
	border-bottom-color: #D6D6D6;
}

.tour.trip-block.white.w:before {
	border-left-color: #D6D6D6;
}

	.trip-block.tour a.trip-next {
		background-color: #BDBDBD;
		padding: 2px 10px;
		font-size: .8em;
		text-transform: uppercase;
		color: #555;
		float: right;
	}

		.trip-block.tour a.trip-next:hover {
			background-color: #9E9E9E;
		}
		
	.trip-block.tour a.trip-prev {
		padding: 2px 10px;
		font-size: .8em;
		text-transform: uppercase;
		color: #7E7E7E;
		float: left;
	}

		.trip-block.tour a.trip-prev:hover {
			background-color: #BDBDBD;
		}

/* END Site Tour */

.site {
}

.container.site {
	margin-left: 0;
	margin-right: 0;
	width: 960px;
}

#home {
}

#breakdown.section,
#structure.section,
#sourceContainer.section,
#errorsContainer.section {
	margin-bottom: 25px;
	width: 100%;
	/* max-width: 960px; */
}

	/* Looking for the code that has changed the code section?
		Scroll down to the CODING section and look for the class
		.codeTitle
	*/

.sectionTitle {
	height: 44px;
	background-color: #313131;
	margin-bottom: 20px;
	margin-left: 0;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid black;
	z-index: 999;
}

.sectionTitle h2 {
	margin-left: 22px;
	margin-bottom:2px;
	font-size: 1em;
	padding-top: 2px;
	text-shadow:
	   -1px -1px 0 #202020,  
		1px -1px 0 #202020,
		-1px 1px 0 #202020,
		 1px 1px 0 #202020;
}

.subSection.sectionTitle {
	background: none;
	padding-left: 20px;
	margin-bottom: 0px;
	width: auto;
	height: 35px;
	position: static;
	border: 0;
}

	.subSection.sectionTitle h3 {
		margin-bottom: 0;
	
		display: inline-block;
		font-size: 1.2em;
		/* line-height: 16px; */
		padding-left: 18px;
	}
	
	#breakdown .subSection.sectionTitle,
	#upload .sectionContent,
	#home .sectionContent {
		padding-top: 65px;
	}

.sectionContent {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

.sectionContent.sectionHalf {
	width: 500px;
	float: left;
}

/* Home / Help Section */

p.extraText {
	margin: 5px 0;
	font-size: .9em;
}

.actionButton {
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}

	.actionButton p {
		background-color: #3982EE;
		font-size: 1em;
		color: #F1F1F1;
		text-align: center;
		padding: 6px 12px;
		display: inline-block;
		margin: 0;
	}

	.actionButton:hover p {
		background-color: #4890FB;
		text-decoration: underline;
	}
	
.errorKey {}

	.errorKey .testError {
		float: left;
		margin-right: 8px;
		margin-top: 2px;
	}
	
	.errorKey h5 {
		font-family: "Source Sans Pro";
		padding-left: 12px;
		font-weight: 500;
		border-bottom: 2px solid #D1D1D1;
		margin-bottom: 4px;
	}
	
	.errorKey.syntax h5 {
		border-color: #FF153A;	
	}
	
	.errorKey.semantic h5 {
		border-color: #0096ff;	
	}
	
	.errorKey.warning h5 {
		border-color: #DAC800;	
	}
	
	.errorKey.deprecated h5 {
		border-color: #cb1789;	
	}
	
	.errorKey.broken h5 {
		border-color: #ff8209;	
	}
	
	.errorKey.valid h5 {
		border-color: #1BEC77;	
	}
	
	.errorKey .colourSquare {
		margin-right: 12px;
		border-radius: 12px;
		width: 12px;
		height: 12px;
		margin-top: 6px;
		margin-left: 4px;
	}

.siteIntro {
	font-size: .85em;
}

	.siteIntro h4 {
		color: #5C5C5C;
	}
	
	.information p {
		font-size: .9em;
		margin-bottom: 10px;
	}
	
	.information a {
		color: #1E9AEC;
	}
	
		.information a:hover {
			color: #0099FF;
			text-decoration: underline;
		}
	
		.information a:visited {
			color: #AD3C77;
		}

#homeKey {
}

.introBlurb {
	width: 45%;
	float: left;
	margin-right: 4%;
}

.colourKey {
	width: 48%;
	float: left;
	border-left: 1px solid #414141;
	padding-left: 2%;
}

.colourKey h4 {
	margin-bottom: 20px;
}

.colourKey ul {
	width:100%;
}

.colourKey ul li {
	margin-bottom: 20px;
	font-size: .9em;
}

/*
.colourKey p {
	line-height: 50px;
}
*/

/*
.colourKey li p {
	line-height: 25px;
}
*/

.colourSquare {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 20px;
}



/* END Home / Help Section */

/* Upload Section */

input, input[type="text"], textarea {
	width:100%;
	background-color: #D3D3D3;
	border-color: #B9B9B9;
	border-radius:2px;
	color: #6D6D6D;
	margin-bottom: 10px;
}

label {
	font-size:1em;
	font-weight:normal;
	margin-bottom:4px;
}

button, button:hover {
	background:none;
	background-color:#3982ee;
	font-size:1em;
	color:#f1f1f1;
	text-shadow:none;
	border:0;
	border-radius:0;
	text-align:center;
	padding:6px 10px;
}

button:hover {
	background-color:#4890fb;
	text-decoration:underline;
}

.submitButton button, .submitButton button:hover {
	font-size:1.5em;
	margin-top:20px;
	padding:6px 12px;
	padding-top:8px;
}

.alternativeButton {
	margin-left: 0;
	margin-bottom: 20px;
	line-height: 20px;
}

.submitButton {
	text-align:center;
}

.sectionContent .uploadCat:first-of-type {
	margin-left: 0;
}

#upload.section {
	margin-bottom: 0;
}

#upload .sectionContent {
	width: 500px;
	height: 100%;
}

#upload .sectionContent h3 {
	text-align: center;
	font-size: 1.2em;
	color: #6F6F6F;
}

#uploadInfo {
	/*margin-top: 67px;*/
	margin-left:40px;
}

/*
.infoTidbit {
	width: 225px;
	background-color: #f1f1f1;
	padding: 5px 8px;
	padding-bottom: 10px;
	border: 1px solid #E9E9E9;
	margin-bottom: 8px;
	float:left;
	display:inline;
}*/

/* .infoTidbit {
/* 	width: 196px;
	
	padding: 5px 8px;
	padding-bottom: 10px;
	
	margin: 8px 8px;
	float:left;
	display:inline;
	background-color: #f1f1f1;
	border: 1px solid #E9E9E9;	
	-moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    width: 196px; }
}




	.infoTidbit h4 {
	display: inline-block;
		font-family: "Source Sans Pro";
		font-size: 1em;
		font-weight: 400;
		padding-left: 5px;
		line-height: 22px;
	}

	.infoTidbit p {
	display: inline-block;
		font-size: .9em;
		margin: 0;
		font-weight: 300;
	}

	.infoTidbit a {
	display: inline-block;
		font-size: .9em;
		margin: 0;
		color: #7192DA;
		text-decoration: underline;
	}

	.infoTidbit a:hover {
		display: inline-block;
			color: #345AAD;
		}
	 */	
		
#infoTidbit{
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	width: 500px;
	height:556px;
	margin:0 auto;
}

	#upload .sectionContent h3.TBHeader {
		text-align: center;
		font-size: 1.2em;
		color: #6F6F6F;
		width:500px;
	}

    #infoTidbit section.tidbit{
        display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
        margin-bottom: 10px;
        width: 100%; 
		background-color: #f1f1f1;
		border: 1px solid #E9E9E9;
		padding: 10px;
		width:220px;
	}
	
	#infoTidbit section p a {
		margin: 0;
		color: #7192DA;
		text-decoration: underline;
		padding: 10px;
	}
	
	#infoTidbit section a:hover {
		color: #345AAD;
		padding: 10px;
	}
	
	#infoTidbit section p {
		font-size: .9em;
		margin: 0;
		font-weight: 300;
		padding: 0 10px 10px 10px;
	}
	
	#infoTidbit h4 {
		font-family: "Source Sans Pro";
		font-size: 1em;
		font-weight: 400;
		line-height: 22px;	
		padding: 10px 10px 0 5px;
	}

.uploadCat {
	text-align:center;
	cursor: pointer;
	width: 120px;
	float: left;
	display: inline;
	margin-left: 50px;
}

	.uploadCat form, button {
		margin-bottom: 0;
	}
	
	.uploadCat button {
		width: 100%;
	}

	.uploadCat:hover {
		background-color: #F1F1F1;
	}
	
	.uploadCat p.subtext {
		margin-top: 6px;
		height: 42px;
		margin-bottom: 0;
	}

	p.subtext {
		font-size: .75em;
	}
	
	.uploadCat:hover button {
		background-color:#4890fb;
		text-decoration:underline;
	}

.alternativeUploads {
	width: 460px;
	/* margin:0 auto; */
	margin-top:10px;
}

	.alternativeUploads form {
		margin-bottom: 0;
	}

	.alternativeUploads input, input[type="text"], textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	
		margin-bottom: 5px;
}

.alternativeUploads h3 {
	text-align: center;
}

.uploadTitle {
	width: 100%;
	height: 26px;
	border-bottom: 2px solid #DBDBDB;
	margin-bottom: 4px;
}

	.uploadTitle p {
		color: #6F6F6F;
		line-height: 25px;
		margin: 0;
		font-size: .9em;
	}

.thumb {
	width:120px;
	height:120px;
	margin: 0 auto;
	margin-bottom:10px;
	background-size: cover;
}


	#iconSingleUpload {
		background-image: url("../images/icon_singleDoc_120.png");
		background-position: center;
	}
	
	#iconMultiUpload {
		background-image: url("../images/icon_multiDoc_120.png");
		background-position: center;
	}
	
	#iconZipUpload {
		background-image: url("../images/icon_zip_120.png");
		background-position: center;
	}
	
	
/* Upload messages */

.qtip.warningTip {
	border: 0;
	background-color: black;
	max-width: 250px;
	background-color: #282828;
	padding: 10px;
	text-align: center;
}

	.qtip.warningTip .qtip-content {
		padding: 0;
	}

	.qtip.warningTip p {
		margin-bottom: 0;
		font-size: 1.2em;
		line-height: 14px;
		color: #D1D1D1;
	}

	.qtip.warningTip p span.highlight {
		font-weight: 600;
		color: #F1F1F1;
	}

/* END Upload Section */



/* breakdown SECTION */

.fileGraph {
	height:30px;
	margin-bottom:20px;
}

.fileGraph p {
	line-height:30px;
	float:left;
	color: #6D6D6D;
	font-size: .85em;
}

	.fileGraph p.errorNumber {
		cursor: pointer;
	}

	.fileGraph p.errorNumber:hover {
		text-decoration: underline;
	}

.fileNameWrapper {
	min-width:200px;
	width: 17%;
	float: left;
}

.fileName {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

	.fileName:hover {
		text-decoration: underline;
	}
	
	.fileNameWrapper p.fileName {
		float: none;
	}

.errorNumber {
	float:left;
	color: #616161;
}

#breakdown .sectionContent {
	/*
	padding-left: 0;
	margin-left: 20px;
	*/
}

.breakdownBarResults {
	background-color: #F1F1F1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	box-sizing: border-box;
	padding: 0 12px;
	padding-bottom: 2px;
	border: 1px solid #DDDDDD;
	border-top: 0;
}

.sectionTip {
}

	
	#breakdown .sectionTip {
		text-align: center;
		padding-top: 5px;
	}

		#breakdown .sectionTip p {
			font-size: .7em;
			margin: 0;
			margin-bottom: 4px;
			color: #AAAAAA;
		}

	.sectionTip p {
		font-size: .8em;
		margin-bottom: 8px;
		color: #6F6F6F;
	}

/* ERROR GRAPHS */

.totalResultWrapper {
    width: 126px;
    height: 50px;
    height: 100%;
    background-color: gray;
	float: left;
}

h3.totalErrorsHeading {
	font-weight: 400;
	margin-right: 98px;
	/* float: left; */
	width: 100%;
	font-size: .8em;
	color: #F0F0F0;
	text-align: center;
	line-height: 20px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 2px;
	text-transform: uppercase;
}

	h3.totalErrorsHeading span.totalResult {
		font-weight: 600;
		color: #616161;
	}
	
	#totalBrokenWrapper h3.totalErrorsHeading {
	}
    
.totalResult {
    text-align: center;
    display: block;
    color: #FAFAFA;
    font-weight: 600;
	width: 100%;
    background-color: #1BEC77;
    margin-bottom: 4px;
}

	.totalResult.syntax {
		background-color: #FF153A;	
	}
	
	.totalResult.semantic {
		background-color: #0096ff;
	}
	
	.totalResult.warning {
		background-color: #F1DF03; /* Note: unique colour for graph */
	}
	
	.totalResult.deprecated {
		background-color: #cb1789;
	}
	
	.totalResult.broken {
		background-color: #ff7a01;
	}

	.feedback {
		/* border:1px solid #243f66; */
		padding:14px 18px;
	
		/* margin-left: 20px; */
		background-color: #DDDDDD;
		height: 50px;
	
		/* float: left; */
		/* width: 100%; */
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;	
		box-sizing: border-box;
		padding-left: 126px;
	}
	
		#brokenFeedback.feedback {
			height: auto;
			min-height: 50px;
		}
	
	.feedback p {
		padding-left: 12px;
		color: #6F6F6F;
		font-weight: 400;
	}
	
	.feedback p:last-child {
		margin-bottom:0;
	}
	
		#brokenFeedback.feedback p {
			font-size: .8em;
		}

.qtip.barHighlight {
	color: #ffffff;
	background-color: #FFFFFF;
	border: 1px solid #C9C9C9;
	font-size: .9em;
	padding: 5px;
	line-height: 1em;
	max-width: 50%;
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

	.qtip.barHighlight p {
		margin-bottom: 0;
	}

	.qtip.barHighlight .errorExplanation {
		margin-top: 5px;
		padding-top: 5px;
		border-top: 1px solid #C1C1C1;
		font-size: .85em;
	}

	.qtip.barHighlight span.bold {
		font-weight: 600;
	}

.bar {
	height:30px;
	width: 66%;
	float:left;
	margin-right:25px;
	border: 1px solid #FFF;
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.graph {
	height:100%;
	float:left;
	cursor: pointer;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

	.graph:hover {
	}

	.graph.syntax {
		background-color: #FF153A;
}

	.graph.semantic {
		background-color: #0096ff;
	}

	.graph.warning {
		background-color: #F1DF03; /* Note: unique colour for graph */
	}
	
	.graph.deprecated {
		background-color: #cb1789;	
	}
	
	.graph.broken {
		background-color: #ff8209;	
	}

	.graph.statGraph {
		margin-bottom:20px;
	}

	.graph.zero {
		background-color:#1BEC77;
		cursor: default;
	}

		.graph.zero:hover {
			border: 0;
		}

/* END Error Graphs */


.middleText {
	width:80%;
	margin:0 auto;
}

.middleText h3 {
	text-align:center;
	font-size:1.3em;
	font-weight:bold;
	color: #636363;
}


/* END breakdown Section */


/* FILE STRUCTURE SECTION */

.structureContent {
	/*max-height: 522px;*/
}

	.structureContent h4 {
		font-size: .9em;
		margin-top: 20px;
		margin-left: 10px;
		color: #444;
	}
	
.innerContent {
	border: 1px solid #DDD;
	background-color: #EEE;
}

span.brokenLinkIcon {
	display: block;
	background-image: url("../images/warnings.png");
	background-repeat: no-repeat;
	background-position: -98px 0px;
	width: 20px;
	height: 20px;
	float: left;
}

.structureLocationListWrapper {
	display: none;
}

.structureLocationListWrapper h4 {
	margin-bottom: 0;
}

.structureLocationListWrapper p.explanation {
	padding-left: 20px;
	font-size: .8em;
	margin-bottom: 0;
}

.structureLocationList p.fileLocation {
	display: block;
	width: 50%;
	float: left;
}

.structureLocationList p.leftHalf {
	display: block;
	width: 50%;
	float: left;
}

.structureLocationList p.leftHalf,
.structureLocationList p.rightHalf {
	color: #555;
}

.structureLocationList p {
	font-size: .8em;
	margin-bottom: 5px;
	padding-left: 8px;
}

.fileName.plain {
	cursor: default;
}

	.fileName.plain:hover {
		text-decoration: none;
	}

.structureBrokenFilesList,
.structureLocationList {
	margin-top: 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	box-sizing: border-box;
	padding: 0 12px;
}

.structureLocationList {
	margin-top: 8px;
}

	.structureBrokenFilesList p.explanation,
	.structureLocationList p.explanation {
		font-size: .9em;
	}

.structureBrokenFile {
	width: 100%;
	margin: 0 auto;
	height: 20px;
	padding: 2px 0;
	-moz-box-shadow: inset 26px 0 #7A7A7A;
	-webkit-box-shadow: inset 26px 0 #7A7A7A;
	box-shadow: inset 26px 0 #7A7A7A;
	border: 1px solid #7A7A7A;
	margin-bottom: 4px;
}

	.structureBrokenFile p {
		margin-left: 8px;
		float: left;
		font-size: .85em;
		margin-bottom: 0;
	}
	
	.structureBrokenFile p.fileLocation {
		width: 250px;
		color: #949494;
}
	
	.structureBrokenFile span.brokenLinkIcon {
		margin-left: 2px;
	}
	
	.structureBrokenFile span.fileName,
	.structureBrokenFile p.brokenLinksNumber,
	.structureBrokenFile span.highlight {
		color: #444;
	}
	
	.structureBrokenFile span.link {
		cursor: pointer;
	}
	
	.structureBrokenFile p.brokenLinksNumber {
		width: 200px;
		cursor: pointer;
	}
	
		.structureBrokenFile p.brokenLinksNumber:hover,
		.structureBrokenFile span.link:hover {
			text-decoration: underline;
		}

#structureContainer {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 30px;
}

#structureContainer.jstree a {
	display: inline-block;
	line-height: 16px;
	height: 16px;
	white-space: nowrap;
	text-decoration: none;
	padding: 1px 2px;
	margin: 0;
}

#structureContainer.jstree li,
#structureContainer.jstree li a {
	cursor: default;
}

#structureContainer.jstree li a.folder {
	cursor: pointer;
}

	#structureContainer.jstree li a.folder:hover {
		color: #202020;
	}
		
/* END File Structure Section */


/* CODING SECTION */

#scrollParent {
	position: fixed;
	bottom: 0;
	left: 25%;
	right: 25%;
	width: 60%;
	height: 20px;
	overflow-x: auto;
	z-index: 9999;
	display: none;
}

	#sourceContainer:hover #scrollParent {
		display: block;
	}

#scrollContent {
	width: 2000px;
	height: 20px;
}

.codeSection {
	padding-top: 10px;
	border: 1px solid #DDD;
	background-color: #EEE;
}

	.codeSection .sectionTip p {
		font-size: .7em;
		margin: 0;
		margin-bottom: 8px;
		color: #969696;
		/* text-align: center; */
		padding-left: 66px;
}

.codeBackground {
	/*background-image:url("../images/tile_light.png");*/
	/* background-color: #EEEEEE; */
	background-attachment:fixed;
	width:100%;
	margin-top:0;
	/* border-top:2px solid #3f7cd7; */
	/* border-bottom:1px solid #3f7cd7; */
	margin-bottom: 30px;
}

.codeTitle {
	margin-top: 30px;
	margin-bottom:0;
	border:0;
}

.noMargin {
	margin-top:0;
}

.code p {
	color:#212121;
}


/* Error Listing */

#errorsWrapper {
	margin-bottom: 20px;
}

#errors {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	box-sizing: border-box;
	padding: 0 20px;
}

#errorsContainer.codeBackground {
	margin-bottom: 0;
}

.errorListing {
	/* padding-bottom:20px; */
	margin-bottom:30px;
	border-bottom: 1px solid #D1D1D1;
	display: none;
	/* margin-left: 25px; */
	/* width: 90%; */
	/* margin: 0 auto; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;	
	box-sizing: border-box;
	padding: 0 26px;
	padding-bottom: 20px;
}

	.noErrors.errorListing {
		margin-top: 20px;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.errorListing p {
		margin-bottom: 10px;
	}
	
	.errorListing p.correctTag {
		font-weight: 600;
	}

	.errorLocation {
		float:left;
		margin-right:10px;
	}
	
	.errorDescription {
		font-weight:bold;
	}
	
	.errorBrokenSuggestionWrapper {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;	
		box-sizing: border-box;
		padding-left: 154px;
		margin-bottom: 10px;
	}
	
		.errorListing  .errorBrokenSuggestionWrapper p.errorBrokenSuggestion {
			font-size: .9em;
			margin-bottom: 6px;
			padding-left: 10px;
			color: #ff8209;
		}
	
	.errorExcerpt {
		margin-left:50px;
		font-size:.9em;
	}
	
	pre {
		margin-left:50px;
		font-size:.9em;
		color: #212121;
		margin-bottom:20px;
	}
	
	.errorListing pre {
		margin-left: 40px;
		color: #9E9E9E;
		max-width: 100%;
		overflow-x: auto;
	}
	
		.errorListing pre span {
			display: inline-block;
			min-width: 25px;
			margin-right: 10px;
			color: #6B6B6B;
		}
	
	.syntaxError pre strong {
		color:#FF153A;
	}
	
	.semanticError pre strong {
		color:#0D76EB;
	}
	
	.warningError pre strong {
		color:#DAC800;
	}
	
	.deprecatedError pre strong {
		color:#cb1789;
	}
	
	.brokenError pre strong {
		color:#ff8209;
	}
	
.errorCategory {
	display: none;
}
	
	.errorCategory h3 {
		color: #424242;
		margin-bottom: 20px;
		font-size: 1.2em;
		border-bottom: 1px solid #979797;
		font-family: "Source Sans Pro";
		font-weight: 600;
		line-height: 30px;
		padding-bottom: 1px;
	}
	
	.errorCategory  .errorListing p {
		color: #303030;
		font-weight: 400;
	}
	
	.errorCategory  .errorListing p.errorLocation {
		color: #6B6B6B;
	}
	
	.errorCategory  .testError{
		float: left;
		margin-right: 5px;
		margin-top: 5px;
	}
	

/* END Error Listing */


/* END Coding Section */


/* PAGE SOURCE SECTION */

#source.section {
	margin-bottom: 10px;
}

.pageSource {
	margin-bottom:50px;
	max-width:100%;
	overflow:hidden;
}

#pageCode {
	max-width:100%;
	width: 100%;
}

#sourceBreakdown {
	width: 100%;
	border-bottom: 1px solid #A5A5A5;
	margin-bottom: 8px;
}

	#sourceBreakdown .fileGraph {
		margin-bottom: 8px;
	}
	
pre.sourceCodeContainer {
	display: none;
	font-family: 'Open Sans', sans-serif;
	padding-top: 3px;
}

.selectFile {
	margin-left: 50px;
	border-bottom: 2px solid #C5C5C5;
	width: 600px;
	height:20px;	
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 10px;
}

	.selectFile select {
		width: 400px;
	}

	.selectFile label {
		font-weight: bold;
		float: left;
		margin-right:20px;
		color: #2E54B6;
	}
	
	.selectFile select {
		float: right;
	}

	
	/* Page Source Errors */
	
	
	.qtip.qTipHighlight {
		color: #ffffff;
		border: 1px solid #B9B9B9;
		font-size: .9em;
		padding: 0;
		line-height: 1em;
		max-width: 31%;
		height: auto;
		background-color: #EBEBEB;
	}
	
	.qtip.qTipOffsetTop {
		/*margin-top: 4px;*/
		background-color: #FCFCFC;
		padding-top: 2px;
		padding-bottom: 4px;
	}
	
		.qtip.qTipHighlight.syntax {
			-moz-box-shadow: inset 6px 0 #FF153A;
			-webkit-box-shadow: inset 6px 0 #FF153A;
			box-shadow: inset 6px 0 #FF153A;
		}
	
		.qtip.qTipHighlight.semantic {
			-moz-box-shadow: inset 6px 0 #0096ff;
			-webkit-box-shadow: inset 6px 0 #0096ff;
			box-shadow: inset 6px 0 #0096ff;
		}
	
		.qtip.qTipHighlight.warning {
			-moz-box-shadow: inset 6px 0 #DAC800;
			-webkit-box-shadow: inset 6px 0 #DAC800;
			box-shadow: inset 6px 0 #DAC800;
		}
	
		.qtip.qTipHighlight.deprecated {
			-moz-box-shadow: inset 6px 0 #cb1789;
			-webkit-box-shadow: inset 6px 0 #cb1789;
			box-shadow: inset 6px 0 #cb1789;
		}
	
		.qtip.qTipHighlight.broken {
			-moz-box-shadow: inset 6px 0 #ff8209;
			-webkit-box-shadow: inset 6px 0 #ff8209;
			box-shadow: inset 6px 0 #ff8209;
		}
	
	.qTipHighlight .qtip-content {
		padding: 0;
	}
	
	.leftMessage {
		width: 96px;
		float: left;
		height: 40px;
		padding-left: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-left: 4px solid #FFF;
	}
	
		.leftMessage p.errorLine {
			color: #666;
		}
	
		.leftMessage.syntax {
			border-color: #FF153A;
		}
	
		.leftMessage.semantic {
			border-color: #0096ff;		
		}
	
		.leftMessage.warning {
			border-color: #DAC800;		
		}
	
		.leftMessage.deprecated {
			border-color: #cb1789;		
		}
	
		.leftMessage.broken {
			border-color: #ff8209;		
		}
	
	.rightMessage {
		/* float: left; */
		min-height: 50px;
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		/* width: auto; */
		/* max-width: 81%; */
		padding-right: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;	
		box-sizing: border-box;
		margin-left: 120px;
		background-color: #F8F8F8;
		padding-left: 8px;
		/* border-left: 1px solid #FFFFFF; */
	}
	
		.rightMessage p {
			line-height: 1.3em;
		}
	
	.errorMessage {
		margin-bottom: 0;
	}
	
		.qTipHighlight .errorMessage span {
			display: block;
			min-width: 100px;
			float: left;
			margin-bottom: 5px;
			text-transform: capitalize;
		}
	
	.correctTag {
		margin-bottom: 0;
	}
	
	.qTipHighlight .correctTag {
		margin-top: 5px;
		font-weight: 600;
	}
	
	.errorLine {
		font-size: .8em;
	}
	
	.syntaxError, .semanticError, .warningError, .deprecatedError {
		/*margin-right: 10px;*/
	}
	
	.syntaxError, .syntaxError span, 
	.syntax span,
	.qTipHighlight .syntax,
	.syntax span.highlightColour,
	.sourceCodeContainer ol li .errorSourceWrapper .syntax span {
		color: #FF153A;
	}
	
	
	
	.semanticError, .semanticError span, 
	.semantic span,
	.qTipHighlight .semantic,
	.semantic span.highlightColour,
	.sourceCodeContainer ol li .errorSourceWrapper .semantic span  {
		color: #0096ff;
	}
	
	.warningError , .warningError span, 
	.warning span,
	.qTipHighlight .warning,
	.warning span.highlightColour,
	.sourceCodeContainer ol li .errorSourceWrapper .warning span {
		color: #DAC800; /* best practice */
	}
	
	.deprecatedError , .deprecatedError span, 
	.deprecated span,
	.qTipHighlight .deprecated,
	.deprecated span.highlightColour,
	.sourceCodeContainer ol li .errorSourceWrapper .deprecated span {
		color: #cb1789;
	}
	
	.brokenError , .brokenError span, 
	.broken span,
	.qTipHighlight .broken,
	.broken span.highlightColour,
	.sourceCodeContainer ol li .errorSourceWrapper .broken span {
		color: #ff8209;
	}
	
	.errorHighlight {
		cursor: pointer;
		/*float: left;*/
		color: #ACACAC;
	}
	
	
	
	.sourceCodeContainer .errorHighlight span {
		/* color: #535353; */
	}
	
	/* Error Icons */
	
	.sourceCodeContainer li {
		position: relative;
	}
	
	.testError {
		width: 20px;
		height: 20px;
		float: right;
	}
	
		#pageSource .testError {
			position: absolute;
			left: -90px;
			top: -2px;
		}
	
		.syntax .testError {
			background-image: url("../images/warnings.png");
			background-repeat: no-repeat;
			background-position: -2px 0px;
		}
	
		.semantic .testError {
			background-image: url("../images/warnings.png");
			background-repeat: no-repeat;
			background-position: -50px 0px;
		}
	
		.warning .testError {
			background-image: url("../images/warnings.png");
			background-repeat: no-repeat;
			background-position: -25px 0px;
		}
	
		.deprecated .testError {
			background-image: url("../images/warnings.png");
			background-repeat: no-repeat;
			background-position: -75px 0px;
		}
	
		.broken .testError {
			background-image: url("../images/warnings.png");
			background-repeat: no-repeat;
			background-position: -98px 0px;
		}
		
	pre.sourceCodeContainer li {
		position: relative;
	}
	
	.errorSourceWrapper {
		height: 18px;
		width: 100%;
		/*margin-top: -18px;*/
		font-weight: 900;
		/*position: absolute;
		top: 0;
		left: 0;*/
		cursor: default;
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	
		.errorSourceWrapper:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
	
	.sourceCodeContainer ol li .errorSourceWrapper span {
		color: #4E4E4E;
	}
	
	.errorHighlight  {
		cursor: pointer;
	}
	
	.clearfix:after {
	   content: " "; /* Older browser do not support empty content */
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}
	
	.pageSource .errorIcon {
		width: 20px;
		height: 17px;
		position: absolute;
		left: -90px;
		top: 0;
		-webkit-mask-image: url("../images/singleIcon.png");
	}
	
	.pageSource .errorIcon .syntax,
	.pageSource .errorIcon .semantic,
	.pageSource .errorIcon .warning,
	.pageSource .errorIcon .deprecated,
	.pageSource .errorIcon .broken {
		height: 20%;
		width: 100%;
	}
	
	.pageSource .errorIcon .syntax {
		background-color: #FF153A;
	}
	
	.pageSource .errorIcon .semantic {
		background-color: #0096ff;
	}
	
	.pageSource .errorIcon .warning {
		background-color: #DAC800;
	}
	
	.pageSource .errorIcon .deprecated {
		background-color: #cb1789;
	}
	
	.pageSource .errorIcon .broken {
		background-color: #ff8209;
	}


/* END Page Source Section */


/* (Initially) Unseen HTML */

#errorsOnLine {
	display: none;
}

.errorsOnLine {
	padding: 5px;
	max-height: 250px;
	overflow-y: auto;
}

	.errorsOnLine h4{
		font-size: 1em;
		line-height: 16px;
		color: #4E4E4E;
		margin-bottom: 8px;
		font-weight: 400;
		font-family: "Source Sans Pro";
	}

	.errorsOnLine h4 span.highlightColour{
		font-weight: 600;
	}
	
	.errorsOnLine .errorTipCategory {
		margin: 5px 0;
	}

		.errorsOnLine .errorTipCategory p{
			line-height: 18px;
			font-size: .9em;
			padding: 0 8px;
			margin-bottom: 8px;
		}

		.errorsOnLine .errorTipCategory p.hover {
			padding-left: 5px;
			border-left: 2px solid #D1D1D1;
			margin-left: 1px;
			color: #484848;
		}

		.errorsOnLine .errorTipCategory p:last-of-type{
			margin-bottom: 0;
		}


/* END Unseen HTML */





/* JQuery Elements */

.bottomBorder {
	border-bottom:2px solid #3f7cd7;
}


/* END JQuery Elements */


/* Syntax Highlighter */

ol.linenums {
	color: #9E9E9E;
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 90px;
}

pre {
	margin: 0;
}

.sourceCodeContainer ol li span {
	color: #6B6B6B;
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	
	@media only screen and (min-width: 1400px) {
		#siteContainer {
			margin-left: 140px;
		}
	}
	
	
	@media only screen and (max-width: 1190px) {
			h3.totalErrorsHeading {
				margin-right: 22px;
			}
	}

	
	@media only screen and (min-width: 1300px) {
		#siteContainer {
			margin-left: 140px;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
